html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.body {
  font-family: 'Roboto' , sans-serif !important;
  font-size: 16px;
  background-color: #fff;
  color: #65665C; }

*,
*::after,
*::before {
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1310px !important;
  padding: 0 15px;
  margin: 0 auto; }

.main-nav {
  margin-left: 17%;
  color: #222222; }

.header {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08); }

.navigation {
  padding-top: 29px;
  display: block; }

.cart-btn {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding-left: 45px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 21px;
  background-image: url(../img/cart-btn.svg);
  background-repeat: no-repeat;
  background-position: 20px 12px; }

.Explore-btn {
  background: #CF6F49;
  border: 1px solid #CF6F49;
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  padding: 9px 27px; }

.Explore-btn:hover {
  background: transparent;
  border: 1px solid #212529;
  color: #212529; }

.search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-color: #FFFFFF;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); }

.main-block {
  background-color: #eee;
  padding-bottom: 50px; }

.logo {
  max-width: 55px;
  margin-right: 10px;
  margin-left: -30px; }

.main-part1 {
  padding-top: 100px; }
  .main-part1 span {
    width: 310px;
    background: #E7E8E3;
    border-radius: 32px;
    padding: 8px 18px 8px 10px; }
  .main-part1 h1 {
    max-width: 516px;
    min-width: 300px;
    font-size: 43px;
    line-height: 67px;
    color: #2A2C1F; }
  @media screen and (max-width: 400px) {
    .main-part1 h1 {
      font-size: 46px !important;
      min-width: 200px !important; }
    .main-part1 p {
      font-size: 16px !important;
      min-width: 200px !important; } }
  .main-part1 p {
    max-width: 503px;
    min-width: 270px;
    font-size: 20px;
    line-height: 30px;
    color: #65665C; }

.main-part2 {
  display: flex;
  align-items: center; }

.main-part2 img {
  max-width: 620px;
  width: 100%;
  height: 500px;
  align-self: center;
  border-radius: 20px;
  margin-top: 50px;
  object-fit: contain; }

.manual-block h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-top: 110px;
  color: #2A2C1F; }
.manual-block .manual {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  max-width: 754px;
  margin: 0 auto;
  margin-top: 20px;
  color: #65665C; }
.manual-block .column {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  min-height: 316px;
  min-width: 300px;
  max-width: 399px;
  margin: 0 10px;
  margin-top: 81px; }
  .manual-block .column p {
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 30px;
    padding: 0 35px;
    color: #65665C; }
  .manual-block .column a {
    margin-left: 40%;
    font-weight: 700;
    color: #2A2C1F;
    padding-top: 20px; }
  .manual-block .column a:hover {
    text-decoration: underline !important; }
  .manual-block .column h5 {
    padding-top: 140px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #2A2C1F; }

.cd1 img {
  top: 8%;
  left: 45%; }

.process-block {
  margin-top: 134px;
  margin-bottom: 153px; }
  .process-block span {
    background: #E7E8E3;
    border-radius: 32px;
    padding-right: 28px !important;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 50px;
    margin-bottom: 21px;
    display: inline-block;
    max-width: 150px; }
  .process-block h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #2A2C1F;
    display: inline-block;
    margin-bottom: 29px; }
  .process-block p {
    font-size: 18px;
    max-width: 600px;
    min-width: 250px;
    margin-bottom: 37px;
    color: #65665C; }
  .process-block img {
    max-width: 600px;
    width: 100%; }
  .process-block .process-btn {
    max-width: 192px;
    background: #FFFFFF;
    border: 1px solid #E7E8E3;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    padding: 13px 25px; }
  .process-block .process-btn:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); }
  .process-block a {
    color: #2A2C1F; }
  .process-block a:hover {
    text-decoration: underline !important; }
  .process-block .prices {
    background-image: url(../img/prices.svg);
    background-repeat: no-repeat;
    background-position: 0px 20px; }
  .process-block .paper-work {
    background-image: url(../img/paper-work.svg);
    background-repeat: no-repeat;
    background-position: 0px 20px; }
  .process-block .process-columns ul {
    padding-top: 80px;
    margin-bottom: -20px; }
  .process-block .process-columns h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #2A2C1F;
    margin-left: 0 !important; }
  .process-block .process-columns p {
    max-width: 261px;
    color: #65665C; }

@media screen and (max-width: 1080px) {
  .dura {
    flex-wrap: wrap !important; }

  .bottom-pic {
    width: 100% !important;
    margin: 0 !important; }

  .arhci {
    width: 70% !important; } }
@media screen and (max-width: 880px) {
  .cards div {
    margin-left: auto !important;
    margin-right: auto !important; } }
@media screen and (max-width: 475px) {
  .main-part1 {
    padding-top: 20px;
    padding-left: 0; }
    .main-part1 p {
      font-size: 14px !important;
      max-width: 90vw; }
    .main-part1 h1 {
      font-size: 28px !important;
      line-height: 30px !important; }

  .process-inner h3 {
    font-size: 38px !important; }
  .process-inner p {
    font-size: 14px !important;
    max-width: 97vw !important; }

  .bottom-pic {
    margin-right: 0 !important;
    object-fit: contain; } }
.footer {
  background-color: #eee;
  height: 72px; }
  .footer span {
    font-size: 14px;
    color: #65665C; }
  .footer ul {
    padding-top: 25px; }

/*# sourceMappingURL=style.css.map */
