.main-nav {
    margin-left: 17%;
    color: #222222;
}

.header {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
}

.navigation {
    padding-top: 29px;
    display: block;
}

.cart-btn {
    background: #FFFFFF;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding-left: 45px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 21px;
    background-image: url(../img/cart-btn.svg);
    background-repeat: no-repeat;
    background-position: 20px 12px;
}

.Explore-btn {
    background: #CF6F49;
    border: 1px solid #CF6F49;
    border-radius: 6px;
    color: #FFFFFF;
    text-align: center;
    padding: 9px 27px;
}

.Explore-btn:hover {
    background: transparent;
    border: 1px solid #212529;
    color: #212529;
}